.full-width{
    width: 100%;
}
h1{
    background-color: red;
}
.header h1{
    
    text-align: center;
    width: 100%;
}
input{
    text-align: center;
    
}
.mat-form-field{
   
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1em;
 }
 angular-editor {
     background-color: red;
 }